#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
}

.signin{
  position: absolute;
  top:20px;
  right: 30px;

}

#signin-button {
  /* loginButton */
  padding: 2px 15px;
  line-height: 24px;
  margin: 0 0 0 6px;
  width: 74.72px;
  height: 30px;
  left: 1120px;
  top: 30px;
  background:transparent;
  color: #fff;
  border-color: #ccc;
  border: 1px solid #626262;
  box-sizing: border-box;
}

#create-account-button {
  display: inline-block;
  padding: 2px 15px;
  position: relative;
  font-size: 14px;
  align-items: flex-start;
  border-radius: 3px;
  width: 129.19px;
  height: 30px;
  left: 1209px;
  top: 30px;
  color: #fff;
  background: rgb(255, 85, 0);
  border: 1px solid rgb(255, 85, 0);
  box-sizing: border-box;
}
